/* my layout */
/* @font-face {
  font-family: 'Computerfont';
  src: url('Computerfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
} */

body {background-image: src;

  font-weight: normal;
  font-style: normal;}


#counterField { 
  color: #ffffff  ;
  font-size: 5rem;
  font-weight: bold;
  font-size: ;
  text-align: center;

}
.btn {
  border: 7px solid;
  font-size: 20px;
}






