/* my layout */
#field1 {
  color: #0b5394;
  font-size: 5rem;
  text-align: center;
}

#field2 {
  color: #ffffff  ;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
}

.btn {
  border: 7px solid;
  font-size: 20px;
}



